


<section class="py-5 text-center container">

  <section class="py-5 text-center container">
    <h1>Welcome to the Album</h1>
    <div class="d-inline-block position-relative">
      <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner text-center">
          <div class="carousel-item active">
            <img src="/img/cat-8451431_1280.jpg" class="d-block w-50 mx-auto" alt="cat">
          </div>
          <div class="carousel-item">
            <img src="/img/dog-4633734_1280.jpg" class="d-block w-50 mx-auto" alt="dog">
          </div>
          <div class="carousel-item">
            <img src="/img/squirrel-8473819_1280.jpg" class="d-block w-50 mx-auto" alt="squirrel">
          </div>
        </div>
        <button class="bg-dark carousel-control-prev position-absolute top-50 start-0 translate-middle-y" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="bg-dark carousel-control-next position-absolute top-50 end-0 translate-middle-y margin" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

</section>
